.footerTextContainer {
    /* background-color: white; */
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    color: #1DB954;
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 1.4rem;
    background-color: #191414;
}
 .spotifySpan, .reactSpan, .footer {
    padding-bottom: 20px;
}
.linkContainer {
    margin-bottom: -1rem;
}
.searchLogo {
    height: 7vh;
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 100;
    padding: 0;
    margin: 0;
}