.footerTextContainer {
    /* background-color: white; */
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    color: #1DB954;
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
    background-color: #191414;
}
 .spotifySpan, .reactSpan, .footer {
    padding-bottom: 20px;
}
.fab {
    font-size: 50px;
    margin: 0 25px;
}
.linkContainer {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.linkContainer a {
    text-decoration: none;
    color: #1DB954;
}
.footerLogoIcon {
    height: 56px;
    margin-left: 16px;
}
@media only screen and (max-width: 1280px) {
    .fab {
        margin: 0 5px 0 10px;
    }
    .footerLogoIcon {

        margin-left: 0;
    }
}