.buttonContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
    display: flex;
}
.ZenMode, .ZenModePlayer {
    position: relative;
    padding: 12px;
    border-radius: 1rem;
    margin: 20px 10px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    font-weight: 700;
    outline: none;
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
}
.ZenMode:hover, .ZenMode:active, .ZenMode:focus {
    background-color: #fff;
    color: #1DB954;
}
.ZenModePlayer:hover, .ZenModePlayer:active, .ZenModePlayer:focus {
    background-color: #fff;
    color: #1DB954;
}
.buttonContainer:hover #ZenButton, .buttonContainer:hover #ZenPlayerButton {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.Search {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 20, 20, 1);
    position: fixed;
    top: 0;
    z-index: 5;
}
.Search label {
    color: #1DB954;
    align-items: center;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
.Search input {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    border-radius: 5px;
    background-color: #191414;
    border-color: #1DB954;
    border: 1px solid #1DB954;
    color: #1DB954;
}
.SearchForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.searchButton {
    border: none;
    border-radius: 100%;
    padding: 10px;
    margin-left: 10px;
    background-color: #1db954;
    outline:none;
}
.search-container {
    display: flex;
    align-items: center;
}
.searchButton .fas {
    color: white;
    padding: 3px;
} 
.searchResultsTable {
    position: fixed;
    text-align: left;
    padding: 0;
    margin: 8vh 0;
    width: 100%;
    height: 85vh;
    z-index: 1;
    scrollbar-width: thin;         
    scrollbar-color: #1DB954 #191414;
    background-color: #191414;
    overflow-y: auto;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    background: linear-gradient(
        to bottom right,
        rgba(0,0,0, 00.2),
        rgba(255,255,255, 0.05)
    );
    backdrop-filter: blur(0.1rem);
    
}
.searchResultsTable::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .searchResultsTable::-webkit-scrollbar-track {
    background: #191414;        /* color of the tracking area */
  }
  
  .searchResultsTable::-webkit-scrollbar-thumb {
    background-color: #1DB954;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #191414;  /* creates padding around scroll thumb */
  }
  .searchResultsTable table {
      width: 100%;
    
  }
.searchResultsTable thead  th{
    position: sticky;
    top: 0;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    border-bottom: 2px solid #1DB954;
    background-color: #191414;
    height: 48px;
    text-align: center;
    font-weight: 500;
    z-index: 10;
}

.searchResultsTable td {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #1DB954;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    font-weight: 300;
    border-right: 2px solid rgba(0,0,0, 0.05);
}

.td-track, .td-album, .td-artist {
    padding-left: 16px;
}
.td-image {
    text-align: center;
}

.searchResultAlbumImage {
    height: 8vh;
}
.Player {
    position: fixed;
    bottom: 0;
    transition: all 2s;
    width: 100%;
    z-index: 100;
    height: 8vh;
    background-color: #191414;
    display: flex;
    align-items: center;
}
._SliderRSWP {
    height: 10px;
}
._ContentRSWP {
    margin: 0 1%;
}
.rswp_active {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
.rswp_active img {
    height: auto;
    width: auto;
}
.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100vw);
}
.show {
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0);
}
.zen,  .zenPlay {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.nozen,  .nozenPlay {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
}

.spotifyBody {
    transition: all 2s;
}



.searchLogo {
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    margin: 16px;
}
@media only screen and (max-width: 1280px) {
    .buttonContainer {
        flex-direction: column;
    }
    .ZenMode, .ZenModePlayer {
        padding: 6px;
        margin: 10px 10px 0;
        font-size: calc(8px + 6 * ((100vw - 320px) / 680));
    }
    .searchButton {
        padding: 6px
    }

}